@{
    ViewBag.Title = "About";
}



<div class="row">
    <h1 style="background-color:darkslateblue">Our Core Values</h1>
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Commit to Delivery Excellence</h4>
        <p>
            We have a passion for consulting excellence. In all of our dealings we strive to first understand your needs and then deliver on our commitments 100 percent of the time.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="https://live.staticflickr.com/839/28491519927_69c104aa0d_z.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4 style="background-color:white">Embrace Integrity and Openness</h4>
        <p>

            We value strong, positive relationships that are open and honest. This differentiates us and allows us to accomplish much more than we would be able to otherwise.

        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Practice Responsible Stewardship</h4>
        <p>
            We value stewardship and fiscal accountability and always strive to do more with less. We guard and conserve company resources as if they were our own because it makes good business sense at all times, not just during lean times.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Invest in an Exceptional Culture</h4>
        <p>
            We strive to hire and retain talented people from diverse backgrounds that are able to create a high impact for our clients and internally within Centric Consulting.
        </p>
        <p></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Ignite Passion for the Greater Good</h4>
        <p>
            We take pride in our commitment to improving the world in which we live and take an active role in preserving our environment for future generations. We are steadfast in our devotion to the communities we serve and in actively promoting employee involvement in community improvement projects.
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Strive to Innovate</h4>
        <p>
            We value passion, determination, perseverance, and innovation. We are inspired because we believe in what we are doing and where we are going. We believe in using innovation to remove obstacles and help you succeed in your goals.

        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" alt="Business Man 1" style="height:200px; width:300px" />
        <h4>Live a Balanced Life</h4>
        <p>
            Our employees are our greatest asset and people we value highly as individuals. We support everyone managing a work life balance that is aligned with their needs and we also actively monitor all engagements to ensure our owners and employees have time for family, community and personal interests.
        </p>
        <p></p>
    </div>
</div>